.status-message {
  display: none;
  position: fixed;
  top: 25px;
  justify-self: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #dc2626;
  padding: 20px 40px;
  border: 2px solid rgb(216, 216, 216);
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  z-index: 220;
  max-width: 400px;
  text-align: center;
  line-height: 25px;
}

.status-message.success {
  background-color: rgba(206, 255, 190, 0.9);
  color: #16a34a;
  border: 1px solid #C3E6CB;
  display: block;
}

.status-message.error {
  background-color: rgba(255, 200, 200, 0.9);
  color: #721C24;
  border: 1px solid #F5C6CB;
  display: block;
}