body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(-45deg, #000080, #191970, #4169E1, #000080);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.code-input-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.code-input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid #374151;
  transition: all 0.2s ease-in-out;
}

.code-input:focus {
  outline: none;
  border-bottom: 2px solid #87CEEB;
}

.spinner {
  border: 2px solid #f0f8ff;
  border-top: 2px solid #4169E1;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#countdown {
  visibility: hidden;
}

/* Styles for the animated message box */
#animatedMessageBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 50;
  /* Ensure it's on top of other content */
}

#animatedMessageBox.visible {
  transform: translateX(-50%) translateY(1rem);
  opacity: 1;
}